#wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #cccccc;
    opacity: 0.9;
    height:  100%;
}
#container{
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}
